Django==2.2.13
psycopg2==2.8.4
click==7.0
pillow==7.0
awesome-slugify>=1.6.5
requests==2.22.0
beautifulsoup4==4.6.2
pyyaml==5.2
feedparser==5.2.1
sentry-sdk==0.14.1
pyjwt>=1.7.1
nltk==3.4.5
newspaper3k>=0.2.8
telethon==1.10.10
django-bleach==0.6.1