Django==2.2.13
psycopg2-binary==2.8.6
click==7.0
pillow==8.2.0
awesome-slugify>=1.6.5
requests==2.22.0
beautifulsoup4==4.6.2
pyyaml==5.2
feedparser==6
sentry-sdk==0.14.1
nltk==3.4.5
newspaper3k>=0.2.8
django-bleach==0.6.1
python-telegram-bot==12.5.1