html, html[theme="light"] {
    --bg-color: #FFF;
    --opposite-bg-color: #282c35;

    --text-color: #333;
    --brighter-text-color: #000;
    --opposite-text-color: #DDD;

    --link-color: #333;
    --visited-link-color: #afafaf;
}

html[theme="dark"] {
    --bg-color: #282c35;
    --opposite-bg-color: #FFF;

    --text-color: #DDD;
    --brighter-text-color: #FFF;
    --opposite-text-color: #333;

    --link-color: #DDD;
    --visited-link-color: #737373;
}

@media (prefers-color-scheme: dark) {
    html {
        --bg-color: #282c35;
        --opposite-bg-color: #FFF;

        --text-color: #DDD;
        --brighter-text-color: #FFF;
        --opposite-text-color: #333;

        --link-color: #DDD;
        --visited-link-color: #737373;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    transition: all linear .2s;
    color: var(--text-color);
    background-color: var(--bg-color);
}

    @media only screen and (max-width : 800px) {
        body {
            font-size: 14px;
        }
    }

a {
    color: var(--link-color);
    transition: all linear .1s;
}

a:hover {
    color: #9b9b9b;
}


.feed a {
    text-decoration: none;
}

    .article a:visited {
        color: var(--visited-link-color);
    }

