{% load static %}
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/theme.css?v={{ settings.CSS_HASH }}">
<link rel="stylesheet" href="/static/css/base.css?v={{ settings.CSS_HASH }}">
<link rel="stylesheet" href="/static/css/layout.css?v={{ settings.CSS_HASH }}">
<link rel="stylesheet" href="/static/css/components.css?v={{ settings.CSS_HASH }}">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">
