{% load staticfiles %}
<link rel="icon" type="image/png" href="{% static "images/favicon_32.png" %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static "images/favicon_64.png" %}" sizes="64x64">
<link rel="icon" type="image/png" href="{% static "images/favicon_128.png" %}" sizes="128x128">
<link rel="shortcut icon" type="image/png" href="{% static "images/favicon_square.png" %}">
<link rel="apple-touch-icon" type="image/png" href="{% static "images/favicon_square.png" %}">
<link rel="mask-icon" href="{% static "images/favicon_128.png" %}" color="#5954ca">
