<meta charset="UTF-8"/>
<meta name="description" content="{{ settings.APP_DESCRIPTION }}">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">

{% block meta_og %}
    <meta property="og:title" content="{{ settings.APP_NAME }}">
    <meta property="og:url" content="{{ settings.APP_HOST }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ settings.APP_DESCRIPTION }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ settings.APP_NAME }}">
    <meta name="twitter:description" content="{{ settings.APP_DESCRIPTION }}">
{% endblock %}
