{% extends "layout.html" %}
{% load text_filters %}

{% block title %}{{ board.curator_name }} | {{ board.curator_title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="header">
    <div class="curator">
        <div class="avatar curator-avatar" style="background-image: url('{{ board.avatar }}'), linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);"></div>
        <div class="curator-info">
            <div class="curator-name">{{ board.curator_name }}</div>

            {% if board.curator_url %}
                <div class="curator-url">
                    👉 <a href="{{ board.curator_url }}" target="_blank">{{ board.curator_url|pretty_url }}</a>
                </div>
            {% endif %}

            {% if board.curator_bio %}
                <div class="curator-bio">{{ board.curator_bio|smart_urlize|safe }}</div>
            {% endif %}
        </div>
    </div>
</div>

<div class="board">
    {% block board %}
        {% if not blocks %}
            <div class="board-empty">
                Скоро будет!
            </div>
        {% endif %}
        {% for block in blocks %}
            <div class="block">
                {% if block.name %}
                    <div class="block-header">{{ block.name }}</div>
                {% else %}
                    <div class="block-header is-block-header-dummy"></div>
                {% endif %}

                {% for feed in feeds %}
                    {% if feed.block == block %}
                        {% for column, articles in feed.articles_by_column %}
                            <div class="feed {% if column > 1 %}hide-on-iphone{% endif %}">
                                {% if feed.name %}
                                    <div class="feed-title {% if column != 0 %}feed-title-hidden{% endif %}">
                                        {% if feed.icon %}
                                            <img src="{{ feed.icon }}" alt="{{ feed.name }}">
                                        {% endif %}
                                        <a href="{{ feed.url }}" target="_blank">{{ feed.name }}</a><br>
                                        <small>последний пост {{ feed.natural_last_article_at }}</small>
                                    </div>
                                {% endif %}
                                <div class="articles feed-articles">
                                    {% for article in articles %}
                                        <div class="article {% if article.is_fresh %}is-article-fresh{% endif %}">
                                            <div class="article-title">{{ article.icon|safe }}<a href="{{ article.url }}" target="_blank">{{ article.title|striptags }}</a></div>
                                            <a href="{{ article.url }}" class="article-tooltip" target="_blank">
                                                {% if article.image %}
                                                    <img src="{{ article.image }}" alt="{{ article.title|striptags }}" class="article-tooltip-image">
                                                {% endif %}

                                                <span class="article-tooltip-title">{{ article.title|striptags|truncatechars:100 }}</span>

                                                {% if article.description or article.summary %}
                                                    <span class="article-tooltip-description">
                                                        {% if article.summary %}
                                                            {{ article.summary|striptags|nl2br|truncatechars:500|safe }}
                                                        {% else %}
                                                            {{ article.description|striptags|truncatechars:500 }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}

                                                <span class="article-tooltip-info">{{ article.natural_created_at }}</span>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}
</div>

{% if board %}
    <div class="board-footer">
        {% if board.curator_footer %}
            <span class="big">👆</span> {{ board.curator_footer|smart_urlize|safe }}<br>
        {% endif %}

        {% if board.natural_refreshed_at %}
            <br><small>Обновлено {{ board.natural_refreshed_at }}</small>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
