{% extends "board.html" %}

{% block board %}
    <div class="block is-block-blurred">
        <div class="blocker"></div>
        <div class="block-header">Привет, друг! Тоже думал, что самый умный? Штош...</div>
        <div class="feeds">
            <div class="feed">
                <div class="feed-title">
                    <img src="https://i.vas3k.ru/fhm.png" alt="twitter">
                    <a href="#" target="_blank">Twitter</a><br>
                    <small>последний недушный пост: никогда</small>
                </div>
                <div class="articles feed-articles">
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    <img src="https://i.vas3k.ru/fer.jpg" alt="twitter">
                    <a href="#" target="_blank">Facebook</a><br>
                    <small>верни мои данные!</small>
                </div>
                <div class="articles feed-articles">
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    <img src="https://i.vas3k.ru/fhc.png" alt="twitter">
                    <a href="#" target="_blank">Одноклассники</a><br>
                    <small>все скорее туда</small>
                </div>
                <div class="articles feed-articles">
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    <img src="https://i.vas3k.ru/fhf.png" alt="twitter">
                    <a href="#" target="_blank">Телеграм</a><br>
                    <small>чо, многому научились из каналов?</small>
                </div>
                <div class="articles feed-articles">
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    <img src="https://i.vas3k.ru/fhe.png" alt="twitter">
                    <a href="#" target="_blank">Вконтакте</a><br>
                    <small>верни стену</small>
                </div>
                <div class="articles feed-articles">
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                    <div class="article">
                        <div class="article-title">Возьми с полки пирожок, хакир. Ты заслужил!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-login">
        <div class="block-login-window">
            <span class="block-login-title">Только для своих</span>
            <span class="block-login-description">
                Эта подборка доступна только членам <a href="https://vas3k.ru/club/" target="_blank">Вастрик.Клуба</a>.
                Присоединяйтесь и заходите!
            </span>
            <a href="{% url "login" %}?redirect={{ settings.APP_HOST }}{% url "board" board.slug %}" class="button block-login-button">Войти по клубной карте</a>
        </div>
    </div>
{% endblock %}
