{% extends "layout.html" %}
{% load text_filters %}
{% load static %}

{% block title %}Экспорт | {{ board.curator_name }} | {{ board.curator_title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="export">
    <div class="coming-soon">
        <h2>Экспорт скоро будет!</h2>

        <p>
            Эта идея появилась совсем недавно и мы пока думаем как её сделать удобнее всего.
        </p>

        <p>
            Подпишитесь на мой канал ⭐️ <a href="https://t.me/vas3k_channel">Вастрик.Пынь</a> чтобы узнать сразу когда он появится.
        </p>
    </div>
</div>
{% endblock %}