<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <script>
        const theme = localStorage.getItem('theme');
        if (theme !== null) {
            document.documentElement.setAttribute('theme', theme);
        }
    </script>
    <title>{% block title %}{{ settings.APP_NAME|safe }}{% endblock %}</title>
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% include "common/css.html" %}
</head>
<body>

{% block body %}
    {% block menu %}
        <div class="menu">
            <div class="menu-logo"><a href="{% url "index" %}">
                <img src="{% static "images/logo-128x128.png" %}" alt="">&nbsp;{{ settings.APP_NAME|lower|safe }}</a>
            </div>
            <div class="menu-center"></div>
            <div class="menu-theme-switcher">
                <label class="theme-switcher" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <span class="slider round"></span>
              </label>
            </div>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <div class="footer">
        Проект <a href="https://vas3k.club">Вастрик.Клуба</a>. Код <a href="https://github.com/vas3k/infomate.club">открыт</a>.<br>
        Все подборки исключительно субъективны и собраны коммьюнити.<br>
        Идеи и предложения новых источников присылайте на гитхаб.<br><br>
    </div>
{% endblock %}

{% include "common/js.html" %}
</body>
</html>
