<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <script>
        const theme = localStorage.getItem('theme');
        if (theme !== null) {
            document.documentElement.setAttribute('theme', theme);
        }
    </script>
    <title>{% block title %}{{ settings.APP_NAME|safe }}{% endblock %}</title>
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% include "common/css.html" %}
</head>
<body>

{% block body %}
    {% block menu %}
        <div class="menu">
            <div class="menu-logo"><a href="{% url "index" %}">
                <img src="{% static "images/logo-128x128.png" %}" alt="">&nbsp;{{ settings.APP_NAME|lower|safe }}</a>
            </div>
            <div class="menu-center"></div>
            <div class="menu-theme-switcher">
                <label class="theme-switcher" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <span class="slider round"></span>
              </label>
            </div>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <div class="footer">
        Сделал <a href="https://vas3k.ru">Вастрик</a>.<br><br>
        Сайт использует <a href="https://ru.wikipedia.org/wiki/Cookie" target="_blank">куки</a> для авторизации<br> и <a href="{% url "privacy_policy" %}">не собирает данные</a> больше, чем нужно.
        {% if me %}
            <br><a href="{% url "logout" %}" class="button logout-button">Выйти</a>
        {% endif %}
    </div>
{% endblock %}

{% include "common/js.html" %}
</body>
</html>
