{% extends "layout.html" %}

{% block title %}Что это? | {{ block.super }}{% endblock %}

{% block content %}
<div class="document what">
    <div class="what-block" id="what">
        <h2><a href="#what">Что это?</a></h2>

        <p>
            Это — мой способ потреблять информацию и быть в курсе событий, при этом тратить минимум времени.
        </p>

        <p>
            Раньше я подписывался на новостные аккаунты в твиттере, телеграме и ВК,
            но там они постоянно отвлекали пустыми драмами и торжеством СММ, что, конечно, приносило им кучу просмотров,
            но в итоге лишь крало моё время.
        </p>

        <p>
            Тогда я написал бота, который агрегирует для меня весь мой интернет на одну страничку.
        </p>

        <p>
            Ну и для моих друзей тоже.
        </p>

        <p>
            Сам же проект был вдохновлен сайтами <a href="http://nullrefer.com/?https://nuuz.io/" referrerpolicy="no-referrer">nuuz.io</a> и <a href="http://nullrefer.com/?https://skimfeed.com/" referrerpolicy="no-referrer">skimfeed.com</a>, это не секрет.
        </p>
    </div>

    <div class="what-block" id="why">
        <h2><a href="#why">Зачем это всё?</a></h2>

        <p>
            <strong>Во-первых, не надо ни на кого подписываться и получать уведомления.</strong>
        </p>

        <p>
            Заходите и читайте новости только когда вы этого хотите.<br><br>
        </p>

        <p>
            <strong>Во-вторых, авторские подборки.</strong>
        </p>

        <p>
            Следить за тем, что читают другие люди — крайне полезно и позволяет постоянно открывать для себя что-то новое. Давно хотел такое.<br><br>
        </p>

        <p>
            <strong>В-третьих, большинство новостей и так нет смысла читать дальше заголовка.</strong>
        </p>

        <p>
            Интерфейс экономит ваше время, а не охотится за вниманием.<br><br>
        </p>

        <p>
            <strong>В-четвертых, никакой алгоритмической ленты, хейт-кликов и анализа лайков.</strong>
        </p>

        <p>
            Цукерберг, уходи.
        </p>
    </div>

    <div class="what-block" id="how">
        <h2><a href="#how">Как этим пользоваться?</a></h2>

        <p>
            1. Добавляете в закладки подборку, которая больше всего подходит вам по духу.<br><br>
            2. Открываете её в моменты прокрастинации и обострения <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B4%D1%80%D0%BE%D0%BC_%D1%83%D0%BF%D1%83%D1%89%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9_%D0%B2%D1%8B%D0%B3%D0%BE%D0%B4%D1%8B">FOMO</a>.<br><br>
            3. Бегло читаете заголовки. Свежие выделены жирным. На понравившиеся даже можно кликнуть.<br><br>
            4. Поздравляю, вы снова убили время на вещи, которые никак не изменят вашу жизнь.<br><br>
            5. Ну-ну. Все через это прошли.
        </p>
    </div>

    <div class="what-block" id="rss">
        <h2><a href="#rss">Чем это заменит мою RSS-читалку, телеграм-канальчики, твиттер или хруст утренней газеты в метро?</a></h2>

        <p>
            Ничем. Потребляйте информацию так, как вам удобно.
            Я лишь даю еще один инструмент, который оказался полезен мне.
            Чем и как в итоге пользоваться — выбор каждого.
        </p>
    </div>

    <div class="what-block" id="hard">
        <h2><a href="#hard">Сложна. Где важное? Где популярное? Где объяснения в карточках?</a></h2>

        <p>
            Суть сервиса попросту противоположна всем этим вещам.
        </p>

        <p>
            В интернете есть куча каналов и рассылок, где за вас всё прочитают, разжуют, выделят «важное» и расскажут как «правильно» реагировать.
            Когда скорбеть, а когда выходить на митинг.
        </p>

        <p>
            Идея же infomate ровно в том, чтобы это НЕ делать. Вообще. Делегировать анализ ситуации и выводы только вам.
        </p>

        <p>
            Сложно или не нравится — это нормально, каждый работает с информацией по-своему.
            Просто закройте страницу.
        </p>
    </div>

    <div class="what-block" id="who">
        <h2><a href="#who">Кто создаёт подборки?</a></h2>

        <p>
            Открытые подборки собраны по итогам публичных опросов в телеграм-каналах и социальных сетях.
        </p>

        <p>
            Приватные делают сами авторы — они определяют список источников, из которых бот будет регулярно забирать новости.
            Сам контент авторы не отбирают. Для такого есть множество других сервисов.
        </p>
    </div>

    <div class="what-block" id="add">
        <h2><a href="#add">Я тоже хочу сделать свою подборку!</a></h2>

        <p>
            Мы всегда рады новым лицам. Если вы следите за новостями в какой-то области,
            будь то кино, игры, космос, маркетинг, да что угодно, и могли бы сделать по ней тематическую подборку
            — опишите свою идею мне на почту: <a href="mailto:me@vas3k.ru">me@vas3k.ru</a>.
        </p>

        <p>
            Мы всё обсудим, и если подборка интересная и не дублирует имеющиеся, вы присылаете мне список,
            я ставлю на вас все ссылочки с благодарностями и подборка появляется здесь. Всё просто.
        </p>

        <p>
            Отличный способ раскрутиться или порадовать уже имеющихся читателей.
        </p>
    </div>

    <div class="what-block" id="previews">
        <h2><a href="#previews">Откуда берутся превьюшки?</a></h2>

        <p>
            Специальный скрипт парсит каждую статью, определяя главную картинку и вытаскивая текст.
            Потом с помощью алгоритма <a href="https://en.wikipedia.org/wiki/Automatic_summarization#TextRank_and_LexRank" target="_blank">TextRank</a>
            из текста выделяется несколько «самых важных» по мнению машины предложений — они-то и отображаются в превью.
        </p>

        <p>
            Иногда машина ведёт себя отвратительно и парсит всякую гадость.
            Но, будем честны, мы тоже не всегда идеально делаем свою работу.
            При этом мы — результат тысяч лет эволюции, а она лишь скрипт с гитхаба.
            Кто мы такие чтобы винить её.
        </p>
    </div>

    <div class="what-block" id="tipidor">
        <h2><a href="#tipidor">
            Что за говно? Где мой любимый канал с мемами? Как может автор читать такую дичь?
            Почему подборки платные? Вы идиоты? Кому это нужно вообще? Не понимаю.
        </a></h2>

        <p>
            Твоё мнение в интернете никому не интересно, признай уже.
            Ты просто строишь из себя циника, чтобы притупить гнетущее чувство одиночества внутри.
            Критика всего мира позволяет на время забыть о собственном ничтожестве, но это лишь самообман.
        </p>

        <p>
            Я сам такой. Обнимемся.
        </p>

        <p>
            Не грусти.
        </p>
    </div>

    <div class="what-block" id="opensource">
        <h2><a href="#opensource">Я нашел баг или хочу предложить фичу</a></h2>

        <p>
            Код проекта открыт: <a href="https://github.com/vas3k/infomate.club" target="_blank">github.com/vas3k/infomate.club</a>
        </p>
        <p>
            Присылайте пулреквесты.
        </p>
    </div>
</div>
{% endblock %}
