{% extends "layout.html" %}

{% block title %}Что это? | {{ settings.APP_TITLE }}{% endblock %}

{% block content %}
<div class="document privacy-policy">
    <div class="what-block" id="_what">
        <h2><a href="#_what">Что это?</a></h2>

        <p>
            Просто ещё один способ следить за новостями и оставаться в курсе событий, но не тратить на это половину жизни.

            Раньше я следил за новостями в твиттере, фейсбуке или RSS, но там............

{#            Кураторы создают подборки источников, на основе которых вы можете формировать собственное инфополе, либо следить за чужим.#}

        </p>

        <p>
            Проект вдохновлен <a href="http://anonym.es/?https://nuuz.io/">nuuz.io</a>.
        </p>
    </div>

    <div class="what-block" id="why">
        <h2><a href="#why">Зачем это?</a></h2>

        <p>
            Во-первых, не надо ни на кого подписываться и получать уведомления.<br>
            Заходите и читайте когда хотите, а в остальное время не отвлекайтесь.
        </p>

        <p>
            Во-вторых, курируемые подборки.<br>
            Следить за тем, что читают другие люди — крайне полезно и позволяет открывать для себя новое.
        </p>

        <p>
            В-третьих, большинство новостей не имеет смысла читать дальше заголовка.<br>
            Мы просто экономим ваше время.
        </p>

        <p>
            В-четвертых, никакой алгоритмической ленты и анализа ваших лайков.<br>
            Заебали уже.
        </p>
    </div>

    <div class="what-block" id="how">
        <h2><a href="#how">Как этим пользоваться?</a></h2>

        <p>
            1. Добавляете в закладки подборку, которая больше всего подходит вам по духу.<br>
            2. Открываете её в моменты прокрастинации и обострения <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B4%D1%80%D0%BE%D0%BC_%D1%83%D0%BF%D1%83%D1%89%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9_%D0%B2%D1%8B%D0%B3%D0%BE%D0%B4%D1%8B">FOMO</a>.<br>
            3. Бегло читаете заголовки, на понравившиеся кликаете.<br>
            4. Поздравляю, вы потратили 10 минут на новости, которые никак не изменят вашу жизнь.<br>
            5. Ну-ну. Не грусти.
        </p>
    </div>

    <div class="what-block" id="who">
        <h2><a href="#who">Кто делает эти подборки?</a></h2>

        <p>
            Открытые подборки собраны по итогам публичных опросов в телеграм-каналах и социальных сетях.
            Приватные делают сами авторы. Либо я прошу их об этом, либон онм приходят добровольно.
            Вы тоже можете завести здесь свою.
        </p>
    </div>

    <div class="what-block" id="previews">
        <h2><a href="#previews">Откуда берутся превьюшки?</a></h2>

        <p>
            Когда статья появляется в RSS, специальный скрипт парсит её, определяя главную картинку и вытаскивая текст статьи.
            Потом с помощью алгоритма <a href="https://en.wikipedia.org/wiki/Automatic_summarization#TextRank_and_LexRank" target="_blank">TextRank</a>
            из текста выделяется несколько «самых важных» по мнению машины предложений — они-то и отображаются в превью.
        </p>

        <p>
            Иногда машина ведёт себя отвратительно и парсит всякую гадость.
            Но, будем честны, мы тоже не всегда идеально делаем свою работу.
            При этом мы — результат тысяч лет эволюции, а она лишь скрипт с гитхаба.
            Кто мы такие чтобы винить её.
        </p>
    </div>

    <div class="what-block" id="add">
        <h2><a href="#add">Хочу добавить сюда свою подборку</a></h2>

        <p>
            Всегда рад новым лицам на сайте! Если вы следите за новостями в какой-то области,
            будь то кино, игры, космос, да что угодно, и могли бы сделать тематическую подборку
            — напишите мне на почту: <a href="mailto:me@vas3k.ru">me@vas3k.ru</a>.
        </p>

        <p>
            Там мы всё обсуждаем, и если подборка кажется мне интересной и не дублирует имеющиеся,
            я прошу вас прислать список сайтов, ставлю на вас ссылочки и подборка появляется здесь.
        </p>
    </div>

    <div class="what-block" id="tipidor">
        <h2><a href="#tipidor">Почему нет моего любимого канала про аниме? Почему подборки платные? Как может Х читать такое говно? Кому вообще это нужно?</a></h2>

        <p>
            Твоё мнение никому не интересно, признай.
            Ты просто строишь из себя циника в интернете, чтобы не чувствовать гнетущее чувство одиночества внутри.
            Критика всего вокруг позволяет тебе на время забыть о собственном ничтожестве, но это всего лишь самообман.
        </p>

        <p>
            Я сам такой. Обнимемся.
        </p>
    </div>

    <div class="what-block" id="opensource">
        <h2><a href="#opensource">Я нашел баг или хочу предложить фичу</a></h2>

        <p>
            Код проекта открыт: <a href="https://github.com/vas3k/infomate.club" target="_blank">github.com/vas3k/infomate.club</a>
        </p>
        <p>
            Присылайте пулреквесты.
        </p>
    </div>
</div>
{% endblock %}
